# nptel-rnd-and-anova

Use the "Run" button to execute the code.

In [1]:
!pip install jovian --upgrade --quiet

In [2]:
import jovian

In [ ]:
# Execute this to save new versions of the notebook
jovian.commit(project="nptel-rbd-and-anova")

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 6.7 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [7]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [8]:
df=pd.read_excel('NPTELAssign.xlsx')
df

   Schedule1  Schedule2  Schedule3
0         75         76         78
1         74         74         74
2         70         71         75
3         73         72         77
4         76         73         76
5         73         73         73

## After performing one way ANOVA on the above problem we will:

In [11]:
data=pd.melt(df.reset_index(),id_vars=['index'],value_vars=['Schedule1','Schedule2','Schedule3'])
data.columns=['index','salesman','value']

model=ols('value ~C(salesman)',data=data).fit()
anova_table=sm.stats.anova_lm(model,typ=1)
anova_table

               df     sum_sq   mean_sq         F    PR(>F)
C(salesman)   2.0  19.111111  9.555556  2.662539  0.102434
Residual     15.0  53.833333  3.588889       NaN       NaN

## After performing one way RBD on this problem we will

In [12]:
## RBD 
data=pd.melt(df.reset_index(),id_vars=['index'],value_vars=['Schedule1','Schedule2','Schedule3'])
data.columns=['blocks','salesman','value']

model=ols('value ~C(blocks)+C(salesman)',data=data).fit()
anova_table=sm.stats.anova_lm(model,typ=1)
anova_table

               df     sum_sq   mean_sq         F    PR(>F)
C(blocks)     5.0  34.277778  6.855556  3.505682  0.043290
C(salesman)   2.0  19.111111  9.555556  4.886364  0.033088
Residual     10.0  19.555556  1.955556       NaN       NaN