# Project Title - Svnit hostel student feedback analysis

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

The dataset has been downloaded and extracted.

In [2]:
project_name = "Svnithostelfeedback" # change this (use lowercase letters and hyphens only)

In [3]:
!pip install jovian --upgrade -q

In [4]:
import jovian

In [5]:
jovian.commit(project=project_name)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "i16ph021/svnithostelfeedback" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/i16ph021/svnithostelfeedback

'https://jovian.ai/i16ph021/svnithostelfeedback'

## Section 1:- Data Preparation and Cleaning

1. Collect data from google form
2. Delete invalid entry

In [6]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('Svnitfeedback.csv')

In [8]:
df

,Timestamp,Choose your Hostel,Are you staying in hostel for first time,How was your hostel experience,Rate the mess food,Rate the infrastructure,Rate the water supply,Rate the housekeepers,Rate the facilities Provided,Overall Rate,What do you like the most about the Hostel,Things you dislike about your hostel,Any suggestion
0,4-29-2019 23:25:18,Bhabha Bhavan,Yes,Good,1,4,5,5,1.0,3.0,Rooms,Dogs,NaN
1,5-2-2019 21:44:26,Bhabha Bhavan,No,Good,3,4,4,4,3.0,4.0,Sanitary facilities,Mess food,NaN
2,5-3-2019 0:12:51,Bhabha Bhavan,No,Bad,1,3,2,4,2.0,2.0,Na,Watchman,??
3,5-3-2019 19:06:14,Bhabha Bhavan,No,Hostel experience was good except for the mess...,2,4,3,4,2.0,3.0,The rooms are quite spacious,So many things from Indian toilets to mess foo...,Please see the quality of the mess food and dr...
4,5-4-2019 8:51:21,Bhabha Bhavan,Yes,Good,3,5,3,5,5.0,4.0,Infrastructure and ventilation,still nothing,Maintenance of broken furniture (windows and d...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,5-3-2019 5:17:41,Swami Vivekanand Bhavan,Yes,Good,5,5,3,3,2.0,4.0,Everything,Nothing,Lights remain on during day in corridor. Ask t...
301,11-27-2018 16:20:36,Swami Vivekanand Bhavan,No,good,3,4,3,4,3.0,NaN,Food,Sanitary facilities,NaN
302,11-27-2018 16:26:19,Swami Vivekanand Bhavan,No,Great,5,4,3,3,1.0,NaN,Silent Zone,Maass Food bathroom toilet,NaN
303,11-27-2018 16:45:31,Swami Vivekanand Bhavan,No,Not well,3,1,1,1,1.0,NaN,LaN connection,WiFi firewalls.,NaN
304,5-2-2019 23:18:33,Tagore bhavan,No,Very Disappointing,1,1,4,4,1.0,2.0,Mineral water for drinking,So many things....,Needs too much improvement in almost every asp...

In [9]:
#Getting the information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Timestamp                                   305 non-null    object
 1   Choose your Hostel                          305 non-null    object
 2   Are you staying in hostel for  first time   305 non-null    object
 3   How was your hostel experience              226 non-null    object
 4   Rate the mess food                          305 non-null    int64
 5   Rate the infrastructure                     305 non-null    int64
 6   Rate the water supply                       305 non-null    int64
 7   Rate the housekeepers                       305 non-null    int64
 8   Rate the facilities Provided                169 non-null    float64
 9   Overall Rate                                125 non-null    float64
 10  What do you like the most about the Hostel  302 non-null    object
 11  Things you dislike about  your hostel       305 non-null    object
 12  Any suggestion                              176 non-null    object
dtypes: float64(2), int64(4), object(7)
memory usage: 31.1+ KB

In [10]:
#Finding the shape of the dataframe
df.shape

(305, 13)

In [11]:
#Finding the columns of dataframe
df.columns

Index(['Timestamp', 'Choose your Hostel',
       'Are you staying in hostel for  first time',
       'How was your hostel experience ', 'Rate the mess food',
       'Rate the infrastructure ', 'Rate the water supply ',
       'Rate the housekeepers ', 'Rate the facilities Provided ',
       'Overall Rate', 'What do you like the most about the Hostel',
       'Things you dislike about  your hostel', 'Any suggestion '],
      dtype='object')

In [12]:
df.describe()

,Rate the mess food,Rate the infrastructure,Rate the water supply,Rate the housekeepers,Rate the facilities Provided,Overall Rate
count,305.000000,305.000000,305.000000,305.000000,169.000000,125.000000
mean,2.550820,3.308197,2.422951,3.367213,2.284024,2.992000
std,1.108375,1.089769,1.115736,1.184983,1.215884,0.928891
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,3.000000,2.000000,3.000000,1.000000,3.000000
50%,3.000000,3.000000,2.000000,3.000000,2.000000,3.000000
75%,3.000000,4.000000,3.000000,4.000000,3.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [30]:
df.rename(
    columns=({ 'Choose your Hostel': 'Hostel',
              'Are you staying in hostel for  first time': 'New_boy',
              'Rate the mess food': 'food',
             'Rate the infrastructure ': 'infrastructure',
              'Rate the water supply ': 'Water_Supply',
              'Rate the housekeepers ': 'housekeepers',
              'Rate the facilities Provided ': 'facilities',
              'Rate the mess food': 'food',
              'Rate the mess food': 'food',
              'Overall Rate':'Total_Rate',
              'What do you like the most about the Hostel':'Like',
              'Things you dislike about  your hostel':'Dislike'
              
             }), 
    inplace=True,
)

## Section-2: Exploratory Analysis and Visualization

In [25]:
import jovian

In [26]:
jovian.commit()

[jovian] Attempting to save notebook..
[jovian] Updating notebook "i16ph021/svnithostelfeedback" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/i16ph021/svnithostelfeedback

'https://jovian.ai/i16ph021/svnithostelfeedback'

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [17]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

In [27]:
df.sample(10)

,Choose your Hostel,Are you staying in hostel for first time,How was your hostel experience,Rate the mess food,Rate the infrastructure,Rate the water supply,Rate the housekeepers,Rate the facilities Provided,Overall Rate,What do you like the most about the Hostel,Things you dislike about your hostel,Any suggestion
210,Mother Teresa Bhavan,Yes,Good,3,4,4,3,1.0,4.0,Environment,Washrooms,Gym in hostel
70,Gajjar Bhavan,No,Absolutely amazing experience,1,1,1,1,1.0,NaN,peace,mess food,"if mess food can be improved, then please see ..."
147,Gajjar Bhavan,No,NaN,1,4,1,3,NaN,NaN,Sports facilities and gym,Food and water supply,Speakers and wifi routers are not so good and ...
168,Gajjar Bhavan,No,NaN,3,3,2,3,NaN,NaN,Extra ciricullum activities...,Mess service,Wifi speed should be increase..and solve water...
183,Gajjar Bhavan,No,NaN,3,4,3,5,NaN,NaN,all activity like festival celebration etc..,Mess food. Bcz it's too much oily and sometime...,Improve mess and water supply.
232,Mother Teresa Bhavan,No,Good,2,3,3,2,2.0,3.0,Infrastructure,Food,NaN
100,Gajjar Bhavan,Yes,Really good with friends not facilities and food,1,2,2,2,NaN,NaN,Nothing,Food and infrastructure ..,NaN
140,Gajjar Bhavan,Yes,NaN,1,3,2,5,NaN,NaN,Infrastructure,Promised facilities were either never fulfille...,NaN
44,Gajjar Bhavan,No,Good,1,2,3,4,2.0,2.0,Cool,Old infrastructure,NaN
159,Gajjar Bhavan,Yes,NaN,4,5,3,3,NaN,NaN,Facility in the room,Water supply is not proper,NaN

In [29]:
wifi_lover=df.value_counts()
wifi_lover

AttributeError: 'DataFrame' object has no attribute 'Rate_the_mess_food'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

Let us save and upload our work to Jovian before continuing

In [18]:
import jovian

In [19]:
jovian.commit()

[jovian] Attempting to save notebook..
[jovian] Updating notebook "i16ph021/svnithostelfeedback" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/i16ph021/svnithostelfeedback

'https://jovian.ai/i16ph021/svnithostelfeedback'

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

Let us save and upload our work to Jovian before continuing.

In [20]:
import jovian

In [ ]:
jovian.commit()

[jovian] Attempting to save notebook..

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

In [ ]:
import jovian

In [31]:
jovian.commit()

[jovian] Attempting to save notebook..
[jovian] Updating notebook "aakashns/zerotopandas-course-project-starter" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ml/aakashns/zerotopandas-course-project-starter

'https://jovian.ml/aakashns/zerotopandas-course-project-starter'

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to your Jovian.ml profile using `jovian.commit`.
> - **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
> - Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
> - Share your work on social media (Twitter, LinkedIn, Telegram etc.) and tag [@JovianML](https://twitter.com/jovianml)
>
> (Optional) Write a blog post
> 
> - A blog post is a great way to present and showcase your work.  
> - Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
> - Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
> - Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml

In [32]:
import jovian

In [35]:
jovian.commit()

[jovian] Attempting to save notebook..
[jovian] Updating notebook "aakashns/zerotopandas-course-project-starter" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ml/aakashns/zerotopandas-course-project-starter

'https://jovian.ml/aakashns/zerotopandas-course-project-starter'